---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Créons votre site internet et propulsons votre présence en ligne.</h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Améliorez votre présence en ligne afin de gagner en visibilité et présentez votre activité à vos futurs clients, avec une amélioration de votre référencement Google par nos soins. </p>
                <div id="contact" class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                            href="tel:+33403800006"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >06 40 38 00 06</span
                      >
                    </a>
                    <a
                      href="mailto:maximevery@ryveweb.fr"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >maximevery@ryveweb.fr</span
                      >
                    </a>
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-center space-x-3">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Des tarifs abordable</h6>
                        <p class="mt-2 text-gray-500 text-center">En fixant des tarifs très attractifs pour la conception de sites internet, je parviens à développer mes compétences entrepreneuriales tout en approfondissant mes connaissances dans le domaine de la création de sites.</p>
                    </div>
                    <div class="text-center space-x-3">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Dans l'ére du temps.</h6>
                        <p class="mt-2 text-gray-500 text-center">Cette approche me permet également de jouer un rôle dans le soutien au petites et moyennes entreprises, en offrant des solutions abordables qui peuvent les aider à établir une présence en ligne, même avec des budgets limités.</p>
                    </div>
                    <div class="text-center space-x-3">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Un site à votre image</h6>
                        <p class="mt-2 text-gray-500 text-center">Afin de proposer des tarifs attractifs, je personnalise chaque site en partant d'un modèle initial défini en amont, assurant ainsi des économies pour mes clients tout en offrant une présence en ligne unique.</p>
                    </div>
                </div>
            </div>
            <!--<h2 class="my-8 text-2xl text-center font-bold text-gray-700 dark:text-white md:text-4xl">-->
            <!--    Ils nous ont fait confiance-->
            <!--</h2>-->
            <!--<div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">-->

            <!--    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">-->
            <!--        <img src="./images/clients/logo_TERTIO_INFORMATIQUE_couleur_pastille.webp" class="h-max w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />-->
            <!--      </div>-->
            <!--    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">-->
            <!--      <img src="./images/clients/airbnb.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />-->
            <!--    </div>-->
            <!--    <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">-->
            <!--      <img src="./images/clients/google.svg" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />-->
            <!--    </div>-->
            <!--    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">-->
            <!--        <img src="./images/clients/ge.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />-->
            <!--      </div>-->
            <!--      <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">-->
            <!--        <img src="./images/clients/netflix.svg" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />-->
            <!--      </div>-->
            <!--    <div class="p-4 grayscale transition duration-200 hover:grayscale-0">-->
            <!--        <img src="./images/clients/google-cloud.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />-->
            <!--    </div>-->
            <!--  </div>-->
        </div>
    </Container>
</div>